@model SupportWheelOfFate.Domain.Model.BauShift
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Support shift for @DateTime.Today.ToShortDateString()</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h1 class="text-center">@Model.Shift.OrderBy(s => s.Name).First().Name</h1>
    </div>
    <div class="col-md-4 text-center">
        <h2>and</h2>
    </div>
    <div class="col-md-4 text-center">
        <h1>@Model.Shift.OrderBy(s => s.Name).Last().Name</h1>
    </div>
</div>